# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*
*.env

# Virtual environments
venv/
cv_website_env/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
logs/

# Keep build.sh
*.sh
!build.sh